{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}
  <title>Users</title>
{% endblock %}

{% block link %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock %}

{% block content %}
  <h1>Users</h1>

  <hr />
  <h3>Create User</h3>

  <form method="POST">
    {% csrf_token %}

    {{ form.as_p }}

    <button class="btn btn-success" type="submit">Create User</button>
  </form>

  <hr />
  <div class="container">
    <table class="table table-secondary table-striped table-hover table-responsive">
      <tr>
        <th>№</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Delete user</th>
      </tr>
      
      {% for user in users %}
        <tr>
          <th>
            <a href="{% url 'user_details' user.id %}">
              {{ user.id }}
            </a>
          </th>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.email }}</td>
          <td style="cursor:pointer;" onclick="delete_user({{user.id}})">
            ❌
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}

{% block script %}
  <script>
    function delete_user(id) {
      let delete_url = "{% url 'delete_user' 99999 %}"
      if (confirm(`Are you sure to delete?`)) {
        delete_url = delete_url.replace('99999', id)
        location.href = delete_url
      } else {
        console.log('Canceled')
        alert("Canceled")
      }
    }


  </script>
{% endblock %}