{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}
  <title>{{ user.username }} profile</title>
{% endblock %}

{% block content %}
  <h1>{{ user.username }} profile</h1>

  <form method="POST" 
    enctype="multipart/form-data"
  >
    {% csrf_token %}

    {% if u_form.errors %}
      {% bootstrap_form_errors u_form %}
    {% endif %}
    {% if p_form.errors %}
      {% bootstrap_form_errors p_form %}
    {% endif %}

    {% bootstrap_form u_form %}
    {% bootstrap_form p_form %}

    <button class="btn btn-success" type="submit">Update</button>
  </form>
{% endblock %}

{% block script %}

{% endblock %}
