<nav>
    <a href="{% url 'home_page' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Home">
        🏠
    </a>
    <a href="{% url 'books_view' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Books">
        📖
    </a>
    <a href="{% url 'add_book' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Add a book">
        ➕
    </a>
    <a href="{% url 'profile' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Profile">
        🤵🏻
    </a>
    <a href="{% url 'logout' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Logout">
        &rightarrow;
    </a>
</nav>