@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.2s ease-out;
}
body {
    background-color: #eee;
    color: #111;
}
h1 {
    font-family: 'Roboto Serif', serif;
    text-shadow: 3px 3px 5px #000000;
    display: inline-block;

    /* make gradient colors */
    background: linear-gradient(to right, blue, green, darkviolet);
    background-size: 200% auto;
    background-clip: text;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: h1_bg 1s linear infinite alternate;
}
@keyframes h1_bg {
    from { background-position: left; }
    to { background-position: right; }
}

/*! --------------------------------------------------------------------------------------- */
/*! --------------------------------------------------------------------------------------- */
/*! --------------------------------------------------------------------------------------- */
/* MAIN tag  for logged-in-menu */
main#logged-in-menu {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 10px;
    background-color: #eee;
}
main#logged-in-menu > div { position: relative; }
main#logged-in-menu > div:first-child { border-radius: 0 10px 10px 0; }
main#logged-in-menu > div:last-child { padding: 10px; }

/*! --------------------------------------------------------------------------------------- */
/*! --------------------------------------------------------------------------------------- */
/*! --------------------------------------------------------------------------------------- */
/* Scrollbar */
::-webkit-scrollbar {
    width: 20px;
    background-color: #333;
    border-radius: 10px 0 0 10px;
    padding: 5px;
}
::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: gray;
    border-radius: 20px;
    border: 3px solid #333;
}
::-webkit-scrollbar-thumb:hover {
    background-color: darkgray;
}
::-webkit-scrollbar-button {
    width: 10px;
    height: 10px;
}