nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;

    a {
        text-decoration: none;
        color: snow;
        font-weight: bold;
        font-size: 1.2em;
        transition: all 0.3s ease-in-out;
        padding: 10px 20px;
        display: inline-block;

        &:hover:not(.active) {
            background-color: #3f5f;
            color: snow;
        }

        &:active:not(.active) {
            background-color: #1f9f;
            color: snow;
        }
    }

    .active {
        background-color: green;
        &:hover { color:snow; cursor: default; }
    }
}
