a {
    color: black;
    text-decoration: none;
}
ul {
    list-style-type: none;
    background-color: aliceblue;
    box-shadow: 0 8px 16px gray;
    overflow: hidden;
}
li {
    float: left;
    padding: 8px 16px;
    border-right: solid 1px black;
}
li:hover {
    background-color: red;
    cursor: pointer;
}
li:hover a {
    color: snow;
}
