.card { background-color: #333; }

.card-img {
    background-color: lightgray;
}

.card-title {
    color: #F8F8F8;
}
.card-subtitle {
    color: #BFBFBF;
}
.card-footer {
    padding: 5px;
}
.card .bottom {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 3px;
}
.card .bottom .left,
.card .bottom .right {
    display: flex;
}
.card .bottom .left {
    color: #606060;
}
.card .bottom .right {
    color: #BFBFBF;
}
