{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}
  <title>Books</title>
{% endblock %}

{% block link %}
  <link rel="stylesheet" href="{% static 'css/books.css' %}" />
{% endblock %}

{% block content %}
  <h1>Books</h1>

  <div class="container-fluid">
    <div class="all-books">
      {% if object_list %}
        {% for book in object_list %}
          <div class="book">
            <div class="book-header">
              {% comment %}to filter created we can use | date:'d-m-Y' or | timesince or | timeuntil{% endcomment %}
              <small class="text-secondary">Created at: {{ book.created|date:'d-m-Y' }}</small>
              <p class="book-cost">$ {{ book.price }}</p>
            </div>
            <hr />
            <h3>{{ book.title }}</h3>
            <img src="{{ book.image.url }}" alt="{{ book.title }}" />
            <p>{{ book.description }}</p>

            {% comment %}we update it if only current user is creator of book{% endcomment %}
            {% comment %} {% if book.creator == request.user %}
              {% endcomment %}
              <div class="book-footer">
                <hr />

                {% if book.author.id == request.user.id %}
                  <a href="{% url 'book_details' book.id %}" class="btn btn-sm col-sm-4 btn-outline-success">View</a>
                  <a href="{% url 'update_book' book.id %}" class="btn btn-sm col-sm-4 btn-outline-primary">Update</a>
                  <a 
                    href="{% url 'delete_book' book.id %}" 
                    class="btn btn-sm col-sm-4 btn-outline-danger">
                    Delete
                  </a>
                {% else %}
                  <a href="{% url 'book_details' book.id %}" 
                    class="btn btn-sm col-sm-6 btn-info"
                  >
                    View
                  </a>
                  <a href="{% url 'add_to_wishlist' book.id %}" 
                    class="btn btn-sm col-sm-6 btn-success"
                  >
                    Add to wishlist
                  </a>
                {% endif %}
              </div>
              {% comment %}
            {% endif %} {% endcomment %}
          </div>
        {% endfor %}
      {% else %}
        <p>No books found</p>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block script %}

{% endblock %}
